framework: net462
source https://nuget.org/api/v2

nuget FSharp.Formatting
nuget NUnit 
nuget NUnit.Runners
nuget FAKE 4.64.18
nuget SourceLink.Fake
nuget Microsoft.CrmSdk.CoreAssemblies

github FoothillSolutions/FAKE modules/Octokit/Octokit.fsx
github fsprojects/FSharp.TypeProviders.StarterPack src/ProvidedTypes.fsi
github fsprojects/FSharp.TypeProviders.StarterPack src/ProvidedTypes.fs